html {
    font-size: 65.5%;
    font-family: 'Red Hat Display', sans-serif;
}

.main-content {
    background-image: url("../images/pattern-background-desktop.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.principal-title {
    margin-top:-30px;
}